
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,100);/* OVERALL ASPECT */

body {
  background-color: #fff;
    font-family: "Raleway",sans-serif !important;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.mt {
    margin-top: 40px;
}

/* Links */
a {
    color: #fff;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #fff;!important
    text-decoration: none;!important
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Bootstrap Modifications */
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #74cfae;
}

.navbar-brand {
    font-size: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.btn-6d {
    border: 1.5px solid #828B94;
    background: transparent;
   padding: 9px 50px;
   font-size: 1.1em;
   outline:0;
   transition:all 0.3s;
}
 
.btn-6d:hover {
    background: rgb( 28, 132, 153);
    color:#fff;
    outline:0;

}
.btn-6d:active{

     -webkit-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
}
.btn-6d-doc {
   border: 3px solid #615656;
background: transparent;
padding: 20px 60px;
font-size: 2em;
margin-top: 3em;
outline: 0;
color: #2A1919;
transition: all 0.3s;
}
 
.btn-6d-doc:hover {
    background: rgb( 28, 132, 153);
    border: 3px solid rgb( 28, 132, 153);
    color:#fff;
    outline:0;
}
.btn-6d-doc:active{

     border: medium solid transparent;
     -webkit-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
}
.btn-6d-logo {
    border: 3px solid #fff;
    background: transparent;
   padding: 20px 60px;
   font-size: 2em;
   outline:0;
   color:#fff;
   transition:all 0.3s;
}
 
.btn-6d-logo:hover {
    background: rgb( 28, 132, 153);
    border: 3px solid rgb( 28, 132, 153);
    color:#fff;
    outline:0;

}
.btn-6d-logo:active{
border: medium solid transparent;
     -webkit-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-webkit-appearance:none;
}

.lead {
    letter-spacing: 1px;
}

/* WRAP SECTIONS */

/* hello */
#hello {
    width: 100%;
    padding-bottom: 250px;
    padding-top: 49px;
    position: relative;
}

#hello h1 {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #74cfae;
}

#hello h2 {
    color: #c0c0c0;
    font-weight: 400;
}


img.logo{

    max-width: 130px;
}

ul.nav.navbar-nav.navbar-right {
font-family: 'Raleway', sans-serif;
font-size: 1.2em;
text-transform: lowercase;
    font-weight: normal;
    font-style: normal;
}
li{
  margin: 0px 9px;
}
.no-padding{
    padding:0;
}
.no-margin{
    margin:0;
}
#intro { 
    background: url(../img/traveller.png) 70% 0 fixed no-repeat; 
    background-size: cover;
    height: 700px;  
    margin: 0 auto; 
    width: 100%; 
    margin-top:-10px;
    position: relative; 
   
    padding: 100px 0;
}
@media(max-width:767px){

    .btn-6d-logo{
        margin-left:0;
        padding:10px 10px;
    }

}
@media(min-width:768px)and(max-width:991px){
    .navbar > .container .navbar-brand {
        margin-left: -35px;
        }
}
.navbar-default .navbar-nav > li > a {
color: #252323;
}
.imgtext{
    font-family: 'Raleway',sans-serif;
    font-size: 3em;
    color:#fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);

}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.scary{
    font-family: 'Raleway',sans-serif;
    font-size: 3.2em ;
}
.help{
    font-family: 'Raleway',sans-serif;
    font-size: 3.5em ;
    font-weight: bolder;
}
.tmd-int{
    font-family: 'Raleway',sans-serif;
    font-size: 1.2em ;
    padding-bottom:2em;
    font-weight: 400;
    line-height: 2em;
}

.ext-padding{

    padding-bottom:2em;
    text-align: left;
    line-height: 2em;
}
.bgicn{
    max-width: 200px;
}
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 {
margin-top: 3em;
padding-left: 3em;
}
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
.blue-grad{
    background: #fff; 
    background: -moz-linear-gradient(top,  #fff 0%, #2989d8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#2989d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff 0%,#2989d8 100%);
    background: -o-linear-gradient(top,  #fff 0%,#2989d8 100%); 
    background: -ms-linear-gradient(top,  #fff 0%,#2989d8 100%); 
    background: linear-gradient(to bottom,  #fff 0%,#2989d8 100%); 
    margin:0;
    }

.container.img-responsive.feat{

    font-weight:800;
}


.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}
#intro-1{

    height:400px;
}
.section-heading-spacer {

width: 40%;
border-top: 2px solid #e7e7e7;
}
.invi{
    font-size:1.2em;
    color:#fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.trusted{

    font-size: 2.7em ;
}
.centeredh{
    text-align: left;
}
@media(max-width:767px){
    .voffset6 {
        margin-top: 2em;
        padding-left: 3em;
    }
    .centeredh{
        text-align: center;
    }
}