
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200,100);/* OVERALL ASPECT */

body {
  background-color: #fff;
    font-family: "Raleway",sans-serif !important;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
    overflow-x:hidden;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
.navbar-default {
background-image: none !important ;
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.img-li li { background: url('../img/red.png') no-repeat 7px 7px transparent;
list-style-type: none;
padding: 7px 0px 1px 70px;
vertical-align: middle;
}

.img-li li:nth-child(odd) {background: url('../img/nred.png') no-repeat 7px 7px transparent;
list-style-type: none;
padding: 7px 0px 1px 70px;
vertical-align: middle;
}
/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.mt {
    margin-top: 40px;
}

/* Links */
a {
    color: #fff;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #fff;!important
    text-decoration: none;!important
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Bootstrap Modifications */
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:rgba(255, 255, 255, 1);

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #74cfae;

}

.navbar-brand {
    font-size: 60px;
    padding-top: 0px;
    padding-bottom: 0px;

}
.btn-6d {
border: 1.5px solid #828B94 ;
margin-top: 7px;
background: transparent;
padding: 4px 40px;
font-size: 1.0em;
outline: 0;
transition: all 0.3s;
}
 
.btn-6d:hover {
    background: rgb( 28, 132, 153);
    color:#fff;
    outline:0;

}
.btn-6d:active{

     -webkit-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
}
.btn-6d-doc {

   border: 2px solid #000;
background: transparent;
padding: 10px 50px;
font-size: 1.5em;
outline: 0;
margin-top:5em;
color: #000;
transition: all 0.3s;
}
 
.btn-6d-doc:hover {
   background: rgb( 28, 132, 153);
    border: 2px solid rgb( 28, 132, 153);
    color:#fff;
    outline:0;
}
.btn-6d-doc:active{
border: 2px solid transparent;
     -webkit-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-webkit-appearance:none;
     
}
.btn-6d-logo {
border: 2px solid #fff;
background: transparent;
padding: 10px 50px;
font-size: 1.5em;
outline: 0;
color: #fff;
transition: all 0.3s;
}

 
.btn-6d-logo:hover {
    background: rgb( 28, 132, 153);
    border: 2px solid rgb( 28, 132, 153);
    color:#fff;
    outline:0;

}
.btn-6d-logo:active{
border: 2px solid transparent;
     -webkit-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-webkit-appearance:none;
}

.btn-6d-logo-about {
border: 3px solid rgb( 28, 132, 153);
background: rgb( 28, 132, 153);
padding: 5px 40px;
font-size: 1.9em;
outline: 0;
color: #fff;
transition: all 0.3s;
}
.btn-6d-logo-about:active{
border: medium solid transparent;
     -webkit-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 70px -13px rgba(0,0,0,0.75);
-webkit-appearance:none;
}

.lead {
    letter-spacing: 1px;
}

/* WRAP SECTIONS */

/* hello */
#hello {
    width: 100%;
    padding-bottom: 250px;
    padding-top: 49px;
    position: relative;
}

#hello h1 {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #74cfae;
}

#hello h2 {
    color: #c0c0c0;
    font-weight: 400;
}


img.logo{

    max-width: 130px;
}

ul.nav.navbar-nav.navbar-right {
font-family: 'Raleway', sans-serif;
font-size: 1.2em;

    font-weight: normal;
    font-style: normal;
    
}
li{
  margin: 0px 9px;
}
.no-padding{
    padding:0;
}
.no-margin{
    margin:0;
}
#intro { 
    background: url(../img/traveller.png) 53% 0 fixed no-repeat; 
    background-size: cover;
    height:100vh;
    margin: 0 auto; 
    width: 100vw; 
    margin-top:-30px;
    position: relative; 
   
    padding: 100px 0;
}
@media(min-width:768px)and(max-width:991px){
    .navbar > .container .navbar-brand {
        margin-left: -35px;
        }
}
.navbar-default .navbar-nav > li > a {
color: #252323;
}
.imgtext{
    font-size: 3em;
    color:#fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);

}
.imgtext-1{
    font-size: 2em;
    color:#fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    margin-top: -2em;

}
.imgtext-2{
    font-size: 1.5em;
    color:#fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);

}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.scary {
    font-family: 'Raleway',sans-serif;
    font-size: 2em;
    padding-top: 50px;
}
.help {
    font-family: 'Raleway',sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
}
.help-bk {
    line-height: 1em;
    font-size: 2.5em;
    font-weight: bolder;
    padding-top:2em;
}
.tmd-int {
    font-family: 'Raleway',sans-serif;
    font-size: 1.2em;
    padding-top: 1.5em;
    padding-bottom: 2em;
    font-weight: 400;
    line-height: 2em;
}


.ext-padding{

    padding-bottom:6em;
    text-align: left;
    line-height: 2em;
    margin-left: 11%;
    margin-right: 11%;
}
.bgicn{
    max-width: 120px;
}
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px;padding-left: 3em; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 {
margin-top: .3em;
padding-left: 1.3em;
}
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset8p { margin-top: 4%; }
.voffset9 { margin-top: 200px; }
.blue-grad{
    background: #fff; 
    background: -moz-linear-gradient(top,  #fff 0%, rgb( 28, 132, 153) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#2989d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff 0%,rgb( 28, 132, 153) 100%);
    background: -o-linear-gradient(top,  #fff 0%,rgb( 28, 132, 153) 100%); 
    background: -ms-linear-gradient(top,  #fff 0%,rgb( 28, 132, 153) 100%); 
    background: linear-gradient(to bottom,  #fff 0%,rgb( 28, 132, 153) 100%); 
    margin:0;
    }

.container.img-responsive.feat{

    font-weight:800;
}
.testimonials{
    padding-bottom: 5em;
}
.testimonials h2{
    color:white;
    font-size: 22px;
}

.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}
#intro-1{

    height:400px;
}
.section-heading-spacer {

width: 40%;
border-top: 2px solid #e7e7e7;
}
.invi{
    font-size:1.2em;
    color:#fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.trusted {
font-size: 1.8em;
padding-bottom: 1.5em;
}
.centeredh{
    text-align: left;

font-size: 22px !important;
}
.centered-h{
    text-align: left;
    line-height: 1.5em;
font-size: 22px !important;
}
.centered-head{
    text-align: center;
    line-height: 1.5em;
font-size: 22px !important;
}

.col-lg-4.voffset6 {
    font-weight: 300;
line-height: 1.6em;
}
.foo-black a{
    list-style-type: none;
    color: #000;
}
.foo-black a:hover{
    list-style-type: none;
}
.left-centered{
    text-align: left;
}
.help-about{
    color: rgb( 28, 132, 153);
    font-size: 3.2em ;
    font-weight: bolder;
    padding-bottom: 2em;
}
.team{
    font-size: 2em;
    margin-left: -20px;

}
.darrow{
    max-width: 40px;
}
.t-left{
    text-align: left;
    font-family: 'Raleway',sans-serif;
    font-size: 1.09em;
    padding-bottom: 2em;
    line-height: 1.6em;
}
.name{
    color: rgb( 28, 132, 153);
}

.titl {
font-size: 1.6em;
padding-bottom: 20px;
}


.tmd-int-1{
    font-size: 1.3em ;
    color: rgb( 28, 132, 153);
    padding-bottom:2em;
    font-weight: 400;
    line-height: 1.2em;
}
a u{
    color: rgb( 28, 132, 153);
}
#intro-2 { 
    background: url(../img/dehli.png) 70% 0 fixed no-repeat; 
    background-size: cover;
    height: 700px;  
    margin: 0 auto; 
    width: 100%; 
    margin-top:10px;
    position: relative; 
   
    padding: 100px 0;
}
.heightmod{
    height: 3em;
}
#intro-4 { 
    background: url(../img/hiw.png) 53% 0 fixed no-repeat; 
    background-size: cover;
    background-position-y:-60px;
    height: 100vh;  
    margin: 0 auto; 
    width: 100%; 
    margin-top:-10px;
    position: relative; 
   
    padding: 100px 0;
}
.imgtx{
    font-size: 1.3em;
    padding: 30px;
    background: rgba(255,255,255,0.8);
}
.resize{
    max-height: 120px;
margin-left: 0;
}
.padding-bt{
    padding-bottom:40px;
}
.centeradjustment{
    margin-left: 11%;
    margin-right:11%;
}
.features{
    padding-top:2em;
    padding-bottom: 2em;
}
/*css for how it works*/
#intro-hiw { 
    background: url(../img/traveller.png) 70% 0 fixed no-repeat; 
    background-size: cover;
    height: 700px;  
    margin: 0 auto; 
    width: 100%; 
    margin-top:-10px;
    position: relative; 
   
    padding: 100px 0;
}
.doc_info{
    background: url(../img/doc_info.png);
    height: 620px;
}
.blue-g{
    background-color:rgb( 28, 132, 153);
    color: #fff;
}
.tmline{    
    max-height: 400px;  
    overflow-y: scroll;
    overflow-x:hidden;
    margin-top:10px;
   
}
.img-tline{

}

blockquote.style1 {
  
  padding: 8px;
  background-color: #333333;
  
  border-left: 0px solid #e1cc89;
  
  background-image: url(../img/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  }
  blockquote.style1 span {
        display: block;
        background-image: url(../img/closequote1.gif);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
.te-text{
    margin-left: 20px;
    
}
.te-img{
    margin-left: -16px;
    
}
.white{
    border-top: 1px solid #fff;
}
@media(max-width:1199px){
    .ext-padding{
        margin-right: auto;
        margin-left: auto;
    }
}   



.network{
    font-size: 1.8em;
    font-weight: normal;
    padding-top: 1em;
    padding-bottom: 1em;
}


@media(max-width:767px){
    .tmline{
        
    
    }
    .ext-padding{
        
    }
    .voffset9 {
        margin-top: 10px;
    }
    .centeredh{
        text-align: center;
    }
    .btn-6d-logo{
        margin-left:0;
        padding:10px 10px;
    }
    .resize{
        margin:auto;
    }
    #intro-2{
        height: 900px;
    }
    #intro {
        
    }
}
.inset12 {
  margin-left: -940px;
}
.inset11 {
  margin-left: -860px;
}
.inset10 {
  margin-left: -780px;
}
.inset9 {
  margin-left: -700px;
}
.inset8 {
  margin-left: -620px;
}
.inset7 {
  margin-left: -540px;
}
.inset6 {
  margin-left: -460px;
}
.inset5 {
  margin-left: -380px;
}
.inset4 {
  margin-left: -300px;
}
.inset3 {
  margin-left: -220px;
}
.inset2 {
  margin-left: -140px;
}
.inset1 {
  margin-left: -60px;
}
 
@media (min-width: 1200px) {
 
    .inset12 {
      margin-left: -1170px;
    }
    .inset11 {
      margin-left: -1070px;
    }
    .inset10 {
      margin-left: -970px;
    }
    .inset9 {
      margin-left: -870px;
    }
    .inset8 {
      margin-left: -770px;
    }
    .inset7 {
      margin-left: -670px;
    }
    .inset6 {
      margin-left: -570px;
    }
    .inset5 {
      margin-left: -470px;
    }
    .inset4 {
      margin-left: -370px;
    }
    .inset3 {
      margin-left: -270px;
    }
    .inset2 {
      margin-left: -170px;
    }
    .inset1 {
      margin-left: -70px;
    }
    
}
 
@media (min-width: 768px) and (max-width: 979px) {
 
    .inset12 {
      margin-left: -724px;
    }
    .inset11 {
      margin-left: -662px;
    }
    .inset10 {
      margin-left: -600px;
    }
    .inset9 {
      margin-left: -538px;
    }
    .inset8 {
      margin-left: -476px;
    }
    .inset7 {
      margin-left: -414px;
    }
    .inset6 {
      margin-left: -352px;
    }
    .inset5 {
      margin-left: -290px;
    }
    .inset4 {
      margin-left: -228px;
    }
    .inset3 {
      margin-left: -166px;
    }
    .inset2 {
      margin-left: -104px;
    }
    .inset1 {
      margin-left: -42px;
    }
    
}
 
@media (max-width: 767px) {
 
    [class*="inset"] {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      }
 }